.containerPrincipal{
    display: flex;
}

.btnPrincipal{
    margin: auto;
}

.modalHeader{
    display: block;
}

.tituloModal{
    display: inline-block;
}

.btnCerrar{
    float: right;
    display: inline-block;
    cursor: pointer;
}